@using Forage.Models 
@model Forage.ViewModels.RestaurantDetailViewModel


@{
  ViewData["Title"] = Model.Restaurant.Name;
}

<div class="container mb-5">

  <partial name="_Alerts" />

  <nav aria-label="breadcrumb" class="my-4">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/restaurants">Restaurants</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        @Model.Restaurant.Name
      </li>
    </ol>
  </nav>

  <div class="row">
    <div class="col gb-4">
      <div class="bg-white rounded p-4 shadow-sm position-relative">
      @if (User.Identity.IsAuthenticated && User.IsInRole("Admin")){
          <a class="btn btn-outline-primary btn-sm position-absolute end-0 me-2" href="/restaurants/@Model.Restaurant.Id/edit"><i class="bi bi-pencil"></i></a>
      }

        <div class="d-flex align-items-lg-center align-items-start flex-column flex-lg-row justify-content-lg-start">
          <h1 class="me-3">@Model.Restaurant.Name</h1>
               
          <div class="mb-2">
            @for (int i = 1; i <= 5; i++)
            {
              if (i <= @Model.AverageRating)
              {
                    <i class="bi bi-star-fill text-primary"></i>
              }
              else if (i - 0.5 <= @Model.AverageRating)
              {
                    <i class="bi bi-star-half text-primary"></i>
              }
              else
              {
                    <i class="bi bi-star text-primary"></i>
              }
            }
            <span>(@Model.ReviewCount)</span>
          </div>
        </div>
        <div class="d-flex flex-wrap text-muted align-items-center">
          <div class="d-flex flex-column flex-lg-row"> 
          @if (Model.Restaurant.VegetarianOptions)
          {
              <div class="me-2">
                <i class="bi bi-check2-circle text-success"></i>
                <span class="text-muted">Vegetarian Options</span>
              </div>
          } @if (Model.Restaurant.VeganOptions)
          {
              <div class="me-2">
                <i class="bi bi-check2-circle text-success"></i>
                <span class="text-muted">Vegan Options</span>
              </div>
          } @if (Model.Restaurant.GlutenFreeOptions)
          {
              <div class="me-2">
                <i class="bi bi-check2-circle text-success"></i>
                <span class="text-muted">Gluten-Free Options</span>
              </div>
          }
          </div>
          @if (Model.Restaurant.OnlineBooking)
            {
              <a class="d-block ms-auto btn btn-sm btn-primary" href="/restaurants/@Model.Restaurant.Id/bookings/new">Book a table</a>
            }
        </div>

        <hr />
        <div></div>
        <div class="text-muted">
          <span>@Model.Restaurant.VenueType</span>
          &#8226;
          <span>@Model.Restaurant.Cuisine</span>
          &#8226;
          <span>
            @(Model.Restaurant.Pricing switch
            {
              PricingOption.CheapEats => "$",
              PricingOption.BudgetFriendly => "$$",
              PricingOption.MidRange =>
              "$$$",
              PricingOption.FineDining => "$$$$",
              _ => ""
            })
          </span>
          @if (Model.Restaurant.DineIn)
          {
              <span> &#8226;</span>
              <span>Dine In</span>
          } @if (Model.Restaurant.TakeAway)
          {
              <span> &#8226;</span>
              <span>Takeaway</span>
          }
        </div>
      </div>
    </div>
    <div class="row pe-0">
      <div class="col-lg-8 g-4">
        @if (!string.IsNullOrEmpty(Model.Restaurant.ImageURL))
        {
            <img
              class="w-100 rounded shadow-sm"
              style="max-height: 550px; object-fit: cover;"
              src="@Model.Restaurant.ImageURL"
              alt="@Model.Restaurant.Name"
              aria-label="Image of @Model.Restaurant.Name"
            />
        }
      </div>
      <div class="col-lg-4 g-4 pe-0">
        <div class="bg-white rounded shadow-sm h-100 w-100 p-4">
          <h2 class="fs-5 mb-2">Contact Details</h2>
          <hr />
          <div class="mb-2 d-flex">
            <div>
              <i class="bi bi-geo-alt text-primary me-2"></i>
            </div>
            <div>
              <div>
                <span>@Model.Restaurant.Address.StreetNumber</span>
                <span>@Model.Restaurant.Address.StreetName</span>
              </div>
              <div>
                <span>@Model.Restaurant.Address.Suburb</span>
                <span>@Model.Restaurant.Address.State</span>
                <span>@Model.Restaurant.Address.PostCode</span>
              </div>
            </div>
          </div>
              <div class="mb-2">
                <i class="bi bi-telephone text-primary me-2"></i>
                <span>@Model.Restaurant.PhoneNo</span>
              </div>
              <div class="mb-2">
                <i class="bi bi-envelope text-primary me-2"></i>
                <span>@Model.Restaurant.Email</span>
              </div>
              <div class="mb-2">
                <i class="bi bi-globe text-primary me-2"></i>
                <span>@Model.Restaurant.Website</span>
              </div>
              <div class="mt-2 pt-2">
                <i class="bi bi-clock text-primary me-2"></i>
                <span>Opening Hours</span>


                <div class="ms-3">
                  <table class="table table-sm">
                  <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                 
                    @if(@Model.Restaurant.OpenMonday)
                    {
                        <tr>
                          <td>Monday</td>
                          <td>@Model.Restaurant.WeekdayOpen - @Model.Restaurant.WeekdayClose</td>
                        </tr>
                    }
                    else {
                        <tr>
                          <td>Monday</td>
                          <td>Closed</td>
                          <td></td>
                        </tr>
                    }
                    @if(@Model.Restaurant.OpenTuesday)
                    {
                        <tr>
                          <td>Tuesday</td>
                         <td>@Model.Restaurant.WeekdayOpen - @Model.Restaurant.WeekdayClose</td>
                        </tr>
                    }
                    else {
                        <tr>
                          <td>Tuesday</td>
                          <td>Closed</td>
                          <td></td>
                        </tr>
                    }
                    @if(@Model.Restaurant.OpenWednesday)
                    {
                        <tr>
                          <td>Wednesday</td>
                          <td>@Model.Restaurant.WeekdayOpen - @Model.Restaurant.WeekdayClose</td>
                        </tr>
                    }
                    else {
                        <tr>
                          <td>Wednesday</td>
                          <td>Closed</td>
                 
                        </tr>
                    }
                    @if(@Model.Restaurant.OpenThursday)
                    {
                        <tr>
                          <td>Thursday</td>
                         <td>@Model.Restaurant.WeekdayOpen - @Model.Restaurant.WeekdayClose</td>
                        </tr>
                    }
                    else {
                        <tr>
                          <td>Thursday</td>
                          <td>Closed</td>
                        </tr>
                    }
                    @if(@Model.Restaurant.OpenFriday)
                    {
                        <tr>
                          <td>Friday</td>
                          <td>@Model.Restaurant.WeekdayOpen - @Model.Restaurant.WeekdayClose</td>
        
                        </tr>
                    }
                    else {
                        <tr>
                          <td>Friday</td>
                          <td>Closed</td>
                        
                        </tr>
                    }
                    @if(@Model.Restaurant.OpenSaturday)
                    {
                        <tr>
                          <td>Saturday</td>
                            <td>@Model.Restaurant.WeekendOpen - @Model.Restaurant.WeekendClose</td>
                        </tr>
                    }
                    else {
                        <tr>
                          <td>Saturday</td>
                          <td>Closed</td>
                    
                        </tr>
                    }
                    @if(@Model.Restaurant.OpenSunday)
                    {
                        <tr>
                          <td>Sunday</td>
                  <td>@Model.Restaurant.WeekendOpen - @Model.Restaurant.WeekendClose</td>
                        </tr>
                    }
                    else {
                        <tr>
                          <td>Sunday</td>
                          <td>Closed</td>
                
                        </tr>
                    }
                   </tbody>
                  </table>
                  

              </div>
            </div>
          </div>

        </div>
          <div class="row pe-0">
            <div class="col-lg-8 g-4 pe-0 pe-md-2">
              <div class="bg-white rounded shadow-sm p-4">
                <div class="d-flex justify-content-between align-items-center">
                  <h2 class="fs-4">Reviews</h2>
                  <a class="btn btn-primary btn-sm" href="/restaurants/@Model.Restaurant.Id/reviews/new"> Write review</a>
                </div>
                <div class="fs-5">
                  <span class="me-1"
                    ><i class="bi bi-star-fill text-primary me-2"></i
                    >@Math.Round(Model.AverageRating, 2)</span
                  >
                  <span>(@Model.ReviewCount reviews)</span>
                  <hr />
                </div>

                <div class="mt-4">
            @if (Model.Restaurant.Reviews.Any())
            {
              foreach (var review in Model.Restaurant.Reviews)
              {
                <div class="card mb-3 position-relative">
                  @if(User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                  {
                     <a class="btn btn-outline-primary btn-sm position-absolute end-0 m-2" href="/reviews/@review.ReviewId/edit"><i class="bi bi-pencil"></i></a> 
                  }
                  <div class="card-body">
                    <small class="text-muted">Reviewed @review.CreatedAt.ToString("dd-MM-yyyy")</small>
                    <!-- stars -->
                    <div class="mb-1">
                      @for (int i = 1; i <= 5; i++)
                      {
                        if (i <= @review.Rating)
                        {
                          <i class="bi bi-star-fill text-primary"></i>
                        }
                        else
                        {
                          <i class="bi bi-star text-primary"></i>
                        }
                      }
                    </div>
                    <h3 class="card-title fs-6 fw-semibold">@review.Title</h3>
                    <p class="card-text">@review.Details</p>
                      <div>
                        <img
                          src="@review.User.ProfileURL"
                          class="rounded-circle border border-primary"
                          width="35"
                          height="35"
                        />
                        <span>@review.User.FirstName @review.User.LastName</span>
                      </div>
                  </div>
                </div>
              }
            }
            else
            {
              <p>No reviews yet. Be the first to review this restaurant!</p>
            }
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
