@model Forage.ViewModels.EditRestaurantViewModel
@using System.ComponentModel.DataAnnotations; 
@{ ViewData["Title"] = "Edit Restaurant";}

<div class="container my-3">

   <div class="mx-auto">
        <a href="/restaurants/@Model.Id">
            <i class="bi bi-arrow-left me-2"></i>
            <span>@Model.Name</span>
        </a>
    </div>

    <partial name="_Alerts" />

  <div class="bg-white p-4 shadow-sm mx-auto mt-3" style="max-width: 600px">
    <div class="d-flex justify-content-between">
    <h1 class="mb-3 fs-4">Edit @Model.Name</h1>

 <!-- Button trigger modal -->
    <button type="button" class="btn btn-outline-danger mb-2" data-bs-toggle="modal" data-bs-target="#deleteRestaurantModal">
      <i class="bi bi-trash"></i> 
    </button>

   <!-- Modal -->
<div class="modal fade" id="deleteRestaurantModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete @Model.Name</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div> Are you sure you want to delete this restaurant? </div>
        <div class="text-muted"> This action cannot be undone. </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <form asp-controller="Restaurant" asp-action="Delete" asp-route-id="@Model.Id" method="post">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>


</div>
</div>
    <form
      asp-controler="Restaurant"
      asp-action="Edit"
      method="POST"
      enctype="multipart/form-data"
      class="needs-validation"
      novalidate>
       @Html.AntiForgeryToken()
      <div class="form-group mb-3">
        <label asp-for="Name" class="small text-muted">Restaurant name</label>
        <input asp-for="Name" class="form-control" required />
        <span class="invalid-feedback">Please enter a restaurant name.</span>
        <span asp-validation-for="Name" class="text-danger"></span>
      </div>

      <h2 class="fs-6 mb-2 mt-2">Contact Details</h2>
      <div class="row mb-2">
        <div class="col-md-6 mb-2">
          <div class="form-group">
            <label asp-for="Email" class="small text-muted">Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
          </div>
        </div>
        <div class="col-md-6 mb-2">
          <div class="form-group">
            <label asp-for="PhoneNo" class="small text-muted"
              >Phone Number</label>
            <input asp-for="PhoneNo" class="form-control" />
            <span asp-validation-for="PhoneNo" class="text-danger"></span>
          </div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label asp-for="Website" class="small text-muted">Website</label>
        <input asp-for="Website" class="form-control" />
        <span asp-validation-for="Website" class="text-danger"></span>
      </div>

      <h2 class="fs-6 mb-2">Address Details</h2>
      <div class="row mb-2">
        <div class="col-md-3 mb-2">
          <div class="form-group">
            <label asp-for="StreetNumber" class="small text-muted"
              >Street Number</label>
            <input asp-for="StreetNumber" class="form-control" required />
            <span class="invalid-feedback">Please enter your street number</span>
            <span asp-validation-for="StreetNumber" class="text-danger"></span>
          </div>
        </div>
        <div class="col-md-9 mb-2">
          <div class="form-group">
            <label asp-for="StreetName" class="small text-muted">Street Name</label>
            <input asp-for="StreetName" class="form-control" required />
            <span class="invalid-feedback">Please enter a street name.</span>
            <span asp-validation-for="StreetName" class="text-danger"></span>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-6 mb-2">
          <div class="form-group">
            <label asp-for="Suburb" class="small text-muted">Suburb</label>
            <input asp-for="Suburb" class="form-control" required />
            <span class="invalid-feedback">Please enter a suburb.</span>
            <span asp-validation-for="Suburb" class="text-danger"></span>
          </div>
        </div>

        <div class="col-md-3 mb-2">
          <div class="form-group">
            <label asp-for="State" class="small text-muted">State</label>
            <select asp-for="State" class="form-select">
              <option value="" hidden>Select State</option>
              @foreach (State item in Enum.GetValues(typeof(State))) {
              <option value="@item">@item</option>
              }
            </select>
            <span asp-validation-for="State" class="text-danger"></span>
          </div>
        </div>
        <div class="col-md-3 mb-2">
          <div class="form-group">
            <label asp-for="PostCode" class="small text-muted">Post Code</label>
            <input asp-for="PostCode" class="form-control" required />
            <span class="invalid-feedback">Please enter a post code.</span>
            <span asp-validation-for="PostCode" class="text-danger"></span>
          </div>
        </div>
      </div>

      <!-- Dietary Options -->
      <div class="mb-3">
        <h2 class="fs-6 mb-2 mt-2">Dietary Options</h2>
        <div class="form-check-inline mb-2 mt-1">
          <input type="checkbox" asp-for="VeganOptions" class="form-check-input me-1" />
          <label asp-for="VeganOptions" class="form-check-label">Vegan</label>
        </div>
        <div class="form-check-inline mb-2">
          <input type="checkbox" asp-for="VegetarianOptions" class="form-check-input me-1" />
          <label asp-for="VegetarianOptions" class="form-check-label"
            >Vegetarian</label>
        </div>
        <div class="form-check-inline mb-3">
          <input type="checkbox" asp-for="GlutenFreeOptions" class="form-check-input me-1" />
          <label asp-for="GlutenFreeOptions" class="form-check-label"
            >Gluten-Free</label>
        </div>
      </div>

      <!-- Venue Type -->
      <div class="pb-2">
        <h2 class="fs-6 mb-2 mt-2">Venue Type</h2>
        <div class="form-group mb-3 mt-1">
          <select
            asp-for="VenueType"
            class="form-select"
            asp-items="Html.GetEnumSelectList<VenueType>()"></select>
          <span asp-validation-for="VenueType" class="text-danger"></span>
        </div>
      </div>

      <!-- Dining Options -->
      <div class="pb-2">
        <h2 class="fs-6 mb-2 mt-2">Dining Options</h2>
        <div class="form-check-inline mb-2 mt-1">
          <input type="checkbox" asp-for="OnlineBooking" class="form-check-input me-1" />
          <label asp-for="OnlineBooking" class="form-check-label"
            >Online Booking</label>
        </div>
        <div class="form-check-inline mb-2 mt-1">
          <input type="checkbox" asp-for="DineIn" class="form-check-input me-1" />
          <label asp-for="DineIn" class="form-check-label">Dine In</label>
        </div>
        <div class="form-check-inline mb-2">
          <input type="checkbox" asp-for="TakeAway" class="form-check-input me-1" />
          <label asp-for="TakeAway" class="form-check-label">Take Away</label>
        </div>
      </div>

      <!-- Cuisines -->

      <div class="pb-2">
        <h2 class="fs-6 mb-2 mt-2">Cuisine</h2>
        <div class="form-group mb-3">
          <select
            class="form-select"
            asp-for="Cuisine"
            asp-items="Html.GetEnumSelectList<CuisineType>()"></select>
          <span asp-validation-for="Cuisine" class="text-danger"></span>
        </div>
      </div>

         
<div>
<h2 class="fs-6 mb-2 mt-2">Opening Hours</h2>
<table class="table table-sm">
<thead>
<tr>
<th>Day</th>
<th>Open</th>
<th>From</th>
<th>To</th>
</tr>
</thead>
<tbody>
    <tr>
        <td>Thursday</td>
        <td>
            <input class="form-check-input" type="checkbox" asp-for="OpenThursday"  />
        </td>
        <td>
            <input type="time" class="form-control" asp-for="ThursdayOpenTime" />
        </td>
        <td>
            <input type="time" class="form-control" asp-for="ThursdayCloseTime" />
        </td>
    </tr>
</tbody>
</table>
</div>

      <!-- Pricing -->
      <div>
        <h2 class="fs-6 mb-2">Pricing</h2>
        <div class="form-group mb-3">
          <label asp-for="Pricing" class="small text-muted">Pricing</label>
          <select asp-for="Pricing" class="form-select">
            <option value="" hidden>Select Pricing</option>
            @foreach (PricingOption item in
            Enum.GetValues(typeof(PricingOption))) {
            <option value="@item">@item</option>
            }
          </select>
          <span asp-validation-for="Pricing" class="text-danger"></span>
        </div>
      </div>

      <div class="mb-2 mt-2">
        <label asp-for="RestaurantImage" class="d-block fs-6 text-dark mb-2">Restaurant Image</label>
        <img
          src="@Model.ImageURL"
          asp-for="RestaurantImage"
          id="restaurantImagePreview"
          class="img-fluid rounded mb-2"
          style="max-height: 100px"
        />
        <input
          asp-for="RestaurantImage"
          type="file"
          accept="image/*"
          class="form-control"
          id="restaurantImage"
        />
        <span class="text-danger small d-none" id="sizeWarning">
          Image must be less than 2mb</span
        >
        <span asp-validation-for="RestaurantImage" class="text-danger"></span>
      </div>
      <button type="submit" class="btn btn-primary mt-3">
        Save Restaurant
      </button>
    </form>
  </div>
</div>


